@font-face {
    font-family: "norse";
    src: url(/fonts/norse/Norse-KaWl.otf);
}

@font-face {
    font-family: "norse-bold";
    src: url(/fonts/norse/NorseBold-2Kge.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "norse";
}

html {
    height: 100%;
}

body {
    background-image: url(/images/background-odin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* HEADER */
.header {
    display: flex;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1.3;
    text-align: center;
}

.title-box {
    margin-top: 1.5em;
}

.title-box a {
    text-decoration: none;
}

.title {
    color: rgba(0, 0, 0, 100);
    font-size: 6em;
}

.eye {
    height: 3em;
    width: 3.45em;
    margin: 0.7em 0 0 0.7em;
}

.eye:hover {
    height: 3.5em;
    width: 4em;
}


/* MAIN */
.main {
    display: flex;
}

.frame img {
    height: 35em;
    width: 35em;
}


/* FOOTER */
.footer {
    margin-top: auto;
}

.credits {
    display: flex;
}

.logos img {
    height: 2.5em;
    width: 2.5em;
}

.credits .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}